%fieldset
  = f.label :interest_type, "Type"
  = f.text_field :interest_type
  = f.label :details, "Details"
  = f.text_field :details
  = f.label :sentiment, "Sentiment"
  = f.text_field :sentiment
  = f.check_box :_destroy
  = f.label :_destroy, "Remove Interest"


-# t.string :type
-# t.string :details
-# t.integer :sentiment
-# t.integer :user_id
