.main
  %h1 Edit your profile

  = form_for @user, :action => :update do |f|
    .block
      = f.label :name, "Name"
      = f.text_field :name
    .block
      = f.label :email, "Email"
      = f.text_field :email

    = f.fields_for :interests do |builder|
      = render 'interest_fields', f: builder

    = link_to_add_fields "Add Interest", f, :interests
    %menu.submit
      = f.button :Submit, :class => 'btn-primary'
