%nav.main_nav.navbar.navbar-default.navbar-fixed-top{ :role => "navigation" }
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ :data => { :toggle => "collapse", :target => "#main_nav" } }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "All You Can Meet", root_path, :class => "navbar-brand"

    #main_nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - unless user_signed_in?
          %li= link_to "Log In", new_user_session_path
          %li= link_to "Register", new_user_registration_path
        - if user_signed_in?
          %li= link_to "New Group", new_group_path
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right.user_nav
          %li.dropdown
            %a.dropdown-toggle{ :href => "#", :data => { :toggle => "dropdown" } }
              My Groups
              %span.caret
            %ul.group-list.dropdown-menu
              - current_user.groups.each do |group|
                %li
                  = link_to group.name, group_path(group)
          %li= link_to current_user.friendly_title, user_path(current_user)
          %li= link_to "Log out", destroy_user_session_path, :method => :delete
