-# = form_tag( controller: "locations", action: "search" ) do
-#   = input_tag(:query)
-#   = submit_tag("Search")

.row
  .map-hero.col-md-6
    #map
  .suggestions.col-md-6
    .list-group
      - JSON.parse(@results).each do |venue|
        .list-group-item
          .name= venue['name']
          .phone= venue['contact']['formattedPhone']
          .address= venue['location']['formattedAddress'][0]
          .city= venue['location']['formattedAddress'][1]

:javascript
  var venues = $.parseJSON("#{j @results}")
