-# = form_tag( controller: "locations", action: "search" ) do
-#   = input_tag(:query)
-#   = submit_tag("Search")

.map-hero.col-md-6
  #map
.suggestions.col-md-6
  %ul
    - JSON.parse(@results).each do |venue|
      %li= venue['name']
      %li= venue['contact']['formattedPhone']
      %li= venue['location']['formattedAddress'][0]
      %li= venue['location']['formattedAddress'][1]

:javascript
  var venues = $.parseJSON("#{j @results}")
